services:
  rabbitmq:
    image: rabbitmq:management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  app:
    build: .
    container_name: relay-app
    restart: always
    ports:
      - "8080:8080"
    #  adjust this you changed the name
    volumes:
      - ./key:/app/.key
      - sqlite_data:/app/database.db
    depends_on:
      - rabbitmq

volumes:
  rabbitmq_data:
  sqlite_data:
